@charset "uft-8";


main{padding-top: 120px;}

main h2{
  display: none;
}

.badges{
  width: 130px;
  position: fixed;
  right: 10px;
  top: 140px;
  z-index: 90;
}

.badges img{
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .6);
}

.badges img:last-child{
  margin-top: 10px;
}

/* 비주얼 영역 */
.visual{
  height: 646px;
  background-image: url(../images/visual_bg.jpg);
}

.visual h2{
  display: none;
}

.visual .inner{
  width: 1100px;
  height: 646px;
  margin: 0px auto;
  position: relative;
}

.title,.cup1,.cup1_txt,.cup2,.cup2_txt,.spoon{
  position: absolute;
}

.visual .title{
  top: 40px;
  left: -10px;
}

.cup1{
  bottom: 0px;
  right: -47px;
}

.cup1_txt{
  top: 40px;
  right: 60px;
}

.cup2{
  bottom: 0px;
  right: 162px;
}

.cup2_txt{
  top: 186px;
  right: 412px;
}

.spoon{
  bottom: 0px;
  left: 275px;
}

.btn{
  width: 130px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  border-radius: 5px;
}

.detail_btn{
  transform: translateX(130px);
  border: 2px solid #592b18;
  color: #592b18;
}

.detail_btn:hover{
  color: #fff;
  background-color: #592b18;
}

.fadein{
  opacity: 0;
}

/* 공지사항 서식 */
.notice{
  height: 62px;
  background: rgb(51,51,51);
  background: linear-gradient(90deg, rgba(51,51,51,1) 50%, rgba(246,245,239,1) 50%);
}

.notice h2{
  display: block;
}

.n_inner{
  width: 1100px;
  margin: 0px auto;
  display: flex;
}

.n_inner__left{
  width: 70%;
  height: 62px;
  background-color: #333;
  overflow: hidden;
  display: flex;
}

.n_inner__left h2{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
}

.s_notice{
  width: 70%;
  height: 62px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.s_notice .swiper-slide {
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s_notice .swiper-slide a {
  display: block;
  width: 100%;
  object-fit: cover;
}

.n_inner__left .s_notice .swiper-wrapper a{
  color: #fff;
  font-size: 16px;
  line-height: 42px;
  text-align: left;
  text-indent: 27px;
}

.n_inner__left>a{
  color: #fff;
  display: block;
  
  margin-left: 110px;

}

.n_inner__left a .addicon{
  font-size: 30px;
  line-height: 60px;
}

.n_inner__right{
  width: 30%;
  height: 62px;
  background-color: #f6f5ef;
  display: flex;
  justify-content: center;
}

.n_inner__right h2{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  line-height: 60px;
  padding: 0px 0px 0px 140px;
}

.n_inner__right i{
  font-size: 30px;
  padding: 15px 0px 0px 20px;
  user-select: none;
  cursor: pointer;
}

/* 프로모션 서식 */

.promotion {
  display: flex;
  justify-content: center;
  background-color: #f6f5ef;
  overflow: hidden;
  position: relative;
  height: 663px;
  transition: 0.4s;
}

/* 버튼클릭시 사용 할 서식 */
.hide{
  height: 0px !important;
}
/*  */

.promotion .proslide {
  width: calc(819px * 3 + 10px * 2);
  height: 553px;
  flex-shrink: 0;
}
.promotion .swiper-slide {
  position: relative;
  opacity: .5;
  transition: 1s;
}
.promotion .swiper-slide-active {
  opacity: 1;
}

.promotion .btn{
  border: 2px solid #333;
  color: #333;
  margin: 0px auto;
  border-radius: 5px;
  z-index: 1001;
  transform: translateY(-50px);
}

.promotion .btn:hover{
  color: #fff;
  background-color: #333;
}


.promotion .swiper-pagination {
  bottom: 40px !important;
  z-index: 1;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: #f6f5ef;
  background-image: url("../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  top: 300px;
  z-index: 1;
  color: #333;
}
.promotion .swiper-button-prev {
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-button-next {
  right: 50%;
  margin-right: -480px;
}
.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}
.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
  display: none;
}


/* 리워드 서식 */

.reward{
  height: 241px;
  background: linear-gradient(90deg, rgba(39,39,39,1) 50%, rgba(213,199,152,1) 50%);
}

.reward_inner{
  background-image: url(../images/rewards.jpg);
  background-repeat: no-repeat;
  width: 1100px;
  height: 241px;
  margin: 0px auto;
  position: relative;
}

.reward .btn_group{
  position: absolute;
  height: 100px;
  width: 250px;
  right: 10px;
  bottom: 30px;
}

.reward .btn_group .btn{
  border: #333 2px solid;
  color: #333;
  margin: 3px;
  display: inline-block;
  transform: translateX(-0px);
}

.reward .btn_group .btn:hover{
  background-color: #333;
  color: #fff;
}

/* 회원가입 */
.reward .btn_group .btn:first-child{
  background-color: #333;
  color: #fff;
  width: 100px;
}

.reward .btn_group .btn:first-child:hover{
  background: none;
  color: #333;
  width: 100px;
}

/* 로그인 */
.reward .btn_group .btn:nth-child(2){
  width: 80px;
}

/* e-gift */
.reward .btn_group .btn:last-child{
  width: 214px;
}

/* 유튜브 영상 콘텐츠 서식 */

.movie{
  height: 700px;
  width: 100%;
  background-color: #222;
  position: relative;
}

.movie h2{
  display: none;
}

.movie .m_inner{
  height: 100%;
  width: 1100px;
  margin: 0px auto;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

.movie .m_inner img{
  position: absolute;
  
}

.m_img1{
  left: -60px;
  top: 30px;
  animation-name: ob_motion;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.m_img2{
  left: 40px;
  top: 400px;
  animation-name: ob_motion;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.m_img3{
  right: 0px;
  bottom: -80px;
  animation-name: ob_motion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes ob_motion {
  0%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(5px);
  }
}

.youtube{
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.youtube video{
  width: 100%;
  transform: translateY(-150px);
  opacity: .8;
}

.movie .cover{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../images/video_cover_pattern.png);
  z-index: 9;
  position: absolute;
}

/* 아이스커피 블랜드 */
.season-product{
  background-image: url(../images/season_product_bg.jpg);
  height: 400px;
  width: 100%;
}

.season-product h2{
  display: none;
}

.season-product .inner{
  width: 1100px;
  height: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  position: relative;
}

/* 커피 이미지 */
.season-product .coffee01{
  position: absolute;
  
}

/* 커피 타이틀 */
.season-product .text-group{
  position: absolute;
  width: 480px;
  top: 110px;
  right: 100px;
}
.season-product .text-group img:first-child{
  margin-bottom: 10px;
}

/* 자세히 보기 버튼 */
.season-product .btn{
  margin: 0px;
  color: #333;
  border: #333 solid 2px;
  transition: 0.2s;
  position: absolute;
  top: 25px;
  right: 320px;
}

.season-product .btn:hover{
  background-color: #333;
  color: #fff;
}

/* 헤로피 리저브 커피 */

.heropy-coffee{
  width: 100%;
  height: 400px;
  background-image: url(../images/reserve_bg.jpg);
}

.heropy-coffee .inner{
  margin: 0px auto;
  width: 1100px;
  position: relative;
}

.heropy-coffee .reserve-logo{
  position: absolute;
  top: 110px;
  left: 0px;
}

.heropy-coffee .text-group{
  position: absolute;
  top: 124px;
  left: 208px;
}

.heropy-coffee .product{
  position: absolute;
  top: 0px;
  right: 0px;
}

.heropy-coffee .btn{
  margin: 0px;
  color: #fff;
  border: #fff solid 2px;
  transition: 0.2s;
  transform: translateX(0px);
}

.heropy-coffee .btn:hover{
  background-color: #fff;
  color: #333;
}

/* 메뉴 */

.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pick-your-favorite .inner {
  padding: 110px 0;
  width: 1100px;
  margin: 0px auto;
}
.pick-your-favorite .text-group {
  width: 362px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.pick-your-favorite .text-group img:first-child{
  margin-bottom: 30px;
}
.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}

.pick-your-favorite .btn{
  margin: 0px;
  color: #fff;
  border: #fff solid 2px;
  transition: 0.2s;
  transform: translateX(0px) translateY(20px);
}

.pick-your-favorite .btn:hover{
  background-color: #fff;
  color: #333;
}

/* 리저브 스토어 */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}
.reserve-store .medal .front {
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}
.reserve-store .medal .back {
  position: absolute;
  transition: 1s;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  margin: 0px auto;
  border: 2px solid #592b18;
  color: #592b18;
  right: 0px;
  left: 0px;
}
.reserve-store .medal .back .btn:hover{
  background-color: #592b18;
  color: #fff;
}

/* 매장찾기 */
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner {
  position: relative;
  height: 400px;
  width: 1100px;
  margin: 0px auto;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture1 {
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.5);
  position: absolute;
  top: -60px;
  left: 0;
}
.find-store .picture2 {
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.5);
  position: absolute;
  top: 150px;
  left: 250px;
}
.find-store .text-group {
  position: relative;
  top: 120px;
  left: 550px;
  width: 400px;
  height: 200px;
}
.find-store .text-group .title {
  position: absolute;
  top: 0px;
}
.find-store .text-group .description {
  position: absolute;
  top: 80px;
}

.find-store .btn{
  margin: 0px;
  color: #333;
  border: #333 solid 2px;
  transition: 0.2s;
  transform: translateX(0px) translateY(160px);
}

.find-store .btn:hover{
  background-color: #333;
  color: #fff;
}

/* 화면 스크롤 동작시 움직이는 서식 */
.back-to-position{
  opacity: 0;
  transition-duration: 1s;
}

.back-to-position.to-left{
  transform: translateX(150px);
}

.back-to-position.to-right{
  transform: translateX(-150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-1 {transition-delay: .2s;}
.show .back-to-position.delay-2 {transition-delay: .4s;}
.show .back-to-position.delay-3 {transition-delay: .6s;}


/* 푸터 슬라이드 서식 */

footer .f_slidewrap{
  width: 100%;
  height: 120px;
  position: relative;
  border-bottom: #aaa 1px solid;
}

footer .f_slide {
  margin: 0px auto;
  width: 1100px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
footer .swiper-wrapper {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  transform: translateY(-50px);
}

footer .f_slide{
  border-radius: 5px;
  z-index: 1001;
}



footer .swiper-button-prev,
footer .swiper-button-next {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 2px solid #aaa;
  border-radius: 50%;
  z-index: 1000;
  color: #aaa;
  transform: translateY(0px);
}
footer .swiper-button-prev {
  left: 40%;
  margin-left: -480px;
}
footer .swiper-button-next {
  right: 40%;
  margin-right: -480px;
}
footer .swiper-button-prev:hover,
footer .swiper-button-next:hover {
  background-color: #aaa;
  color: #272727;
}
footer .swiper-button-prev::after,
footer .swiper-button-next::after {
  display: none;
}

/* 푸터 택스트 서식 */

footer .inner{
  margin: 0px auto;
  width: 1100px;
}

footer .inner .menu{
  margin-top: 50px;
  width: 1100px;
  display: flex;
  justify-content: center;
  color: #fff;
}

footer .inner .menu li{
  margin: 5px;
}
footer .inner .menu li::after{
  color: #aaa;
  margin-left: 7px;
  font-weight: bold;
  font-size: 20px;
  content: '·';
}
footer .inner .menu li:last-child::after{
  margin-left: 7px;
  font-weight: bold;
  font-size: 20px;
  content: '';
}
footer .inner .menu li a{
  color: #fff;
}
footer .inner .menu li:first-child a{
  color: orange;
}

footer .inner .btn-group{
  margin: 0px auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

footer .inner .btn{
  margin: 5px;
  border: #fff 2px solid;
  color: #fff;
  font-size: 14px;
}

footer .inner .btn:hover{
  background-color: #fff;
  color: #272727;
}

footer .inner .info{
  margin-top: 30px;
  text-align: center;
  color: #aaa;
}

footer .inner .info span{
  margin-right: 10px;
  margin-left: 10px;
}

footer .inner .copyright{
  margin-top: 15px;
  text-align: center;
  color: #aaa;
}

footer .inner .logo{
  width: 142px;
  height: 34px;
  margin: 0px auto;
  display: block;
  padding: 30px;
}




